.border-sky-blue {
  border-color: var(--sky-blue) !important;
}
.border-orange {
  border: 1px solid var(--orange) !important;
}
.border-b-orange {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--orange) !important; 
}
.border-r-blue {
  border-top: none;
  border-left: none;
  border-right: 1px solid var(--blue) !important;
  border-bottom: none; 
}

.outline-black {
   outline: 1px solid #000000 !important;
}

.outline-white {
    outline: 1px solid #ffffff !important;
}
